<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Report</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Refund Report</h1>
    <table>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Account Created Date</th>
                <th>Account Updated Date</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% user.forEach(function(user) { %>
                <tr>
                    <td><%= user.userId.userId.username %></td>
                    <td><%= user.createdAt %></td>
                    <td><%= user.updatedAt %></td>
                    <td><%= user.email %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
